@{
    ViewBag.Title = "About";
}


<h3>Online Building Management Web Application.</h3>
<div class="jumbotron" margin="0" style="background-image: linear-gradient(to right,white,white,#003d4d)">
    <img src="~/images/gallery.png" alt="Icon" style="width:100%">
</div>
