@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Support:</strong>   <a href="mailto:felipe.triana@gmail.com">felipe.triana@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:jaina.manik.com">jaina.manik@gmail.com</a><br />

</address>
<div class="jumbotron" margin="0" style="background-image: linear-gradient(to right,white,white,#003d4d)">
    <img src="~/images/condo.jpg" alt="Icon" style="width:100%">
</div>